<html>
<head>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<h3>Welcome <%= user.FULL_NAME %>!</h3>
	<p>Logged in as <%= user.DESCRIPTION %></p>
	
	<% if(user.DESCRIPTION === 'Customer'){ %>
   		Answer the following questions:
   		<form method="POST" action="/home/">
   			<!-- Question 1 -->
   			<div>
   				<p>1. What is 2 + 2?</p>
	   			<label class="radio-inline">
	  				<input type="radio" name="question-1" id="question-11" value="2"> 2
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question-1" id="question-12" value="4"> 4
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question-1" id="question-13" value="6"> 6
				</label>
			</div>
			<!-- Question 2 -->
			<div>
				<p>2. What is 3 &times; 4?</p>
	   			<label class="radio-inline">
					<input type="radio" name="question-2" id="inlineRadio21" value="12"> 12
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question-2" id="inlineRadio22" value="24"> 24
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question-2" id="inlineRadio23" value="36"> 36
				</label>
			</div>
			<!-- Question 3 -->
			<div>
				<p>3. What is 2 &divide; 2?</p>
	   			<label class="radio-inline">
	  				<input type="radio" name="question-3" id="inlineRadio31" value="1"> 1
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question-3" id="inlineRadio32" value="2"> 2
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question-3" id="inlineRadio33" value="3"> 3
				</label>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
   		</form>
 	<% } 
 		else if(user.DESCRIPTION === 'Administrator'){ %>  
   		Administrator
	<% } %>

	<p class="text-right"><a href="/logout">Logout</a></p>
</body>
</html>